body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #121212;
    font-family: 'Inter', sans-serif;
    color: #fff;

}

img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;

}

h1,
h2,
h3,
p {
    margin: 0;
}

main, 
header{
    margin: 0 auto;
    width: 80%;
    max-width: 650px;
    position: relative;
}

header{
    background: url("images/image-36.png");
    max-height: 35vh;
    background-size: cover;
    display: flex;
    
}

.container{
    display: flex;
    
}

header>.container {
    padding: 50px;
    justify-content: space-between;
    align-items: baseline;
    width: 90%;
}

.header-title{
    font-size: 2.5rem;
    font-weight: 800;
    margin: 1rem
}

.page-nav{
    color: white;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 700;
    display: flex;
    gap: 0.3em;
    
}

.search-bar{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    transform: translate(-50%, -50%);
    left: 50%;
    

}
.search-input{
    color: #A5A5A5;
    background-image: url("images/search-icon.png");
    background-color: #2E2E2F;
    background-repeat: no-repeat;
    background-position: 1rem center;
    padding: 0.6rem .6rem .6rem 2.6rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px 0 0 6px;
    border: none;
    width: 60%;
    height: 38px;
    
}

.search-btn{
    color: #fff;
    background-color: #4B4B4B ;
    border: none;
    border-radius: 0px 6px 6px 0px;
    width: 20%;
    padding: 0.5rem 1rem .5rem 1rem;
    height: 38px;
    font-weight: 500;
    cursor: pointer;
    
}

.search-btn:hover{
    box-shadow: 1px 1px #A5A5A5;
}

.movies-container{
    padding: 50px 50px 0 50px;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: scroll;
    overflow-x: hidden;
}

.body-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.explore-title{
    color: #2E2E2F;
}

.explore-icon{
    margin-bottom: 1rem ;
}

.movie{
    display: grid;
    grid-template-columns: 1.1fr 3fr;
    gap: 1.5rem;
    height: min-content;
}
.movie-poster{
    width: 100%;
}

.movie-data{
    margin-top: 1em;
    display: flex;
    align-items: baseline;
}

.movie-title{
    font-size: 1.125rem;
    font-weight: 500;
    margin-right: 0.25em;
}
.movie-rating{
    font-size: 0.75rem;
}

.movie-details{
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    margin-top: 1em;
    flex-wrap: wrap;

}

.movie-runtime,
.movie-genres{
    margin-right: 1.125em;
}

.add-remove-btn{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 0.75rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.3em;
}
  
.movie-description{
    color: #A5A5A5;
    margin-top: 1em;
    font-size: 0.9rem;
}

hr{
    color: #2C2C2C;
    margin: 1rem 0;
    width: 100%;
}

.no-data{
    text-align: center;
    font-weight: 700;
    font-size: 1.125rem;
    color: #787878;
    width: 60%;
    margin-bottom: 1em;
}

@media (max-width: 500px) {
    :root{
        font-size: 10px;
    }
    .movies-container{
        padding: 40px 10px 0 10px ;
    }
}